{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers Who Bought Inexpensive Items</title>
</head>
<body>
    <h1>Customers Who Have Bought Inexpensive Items</h1>
    <ul>
        {% for customer_id in customers_bought_inexpensive_items %}
            <li>{{ customer_id }}</li>
        {% empty %}
            <li>No customers have bought inexpensive items.</li>
        {% endfor %}
    </ul>
</body>
</html>

{% endblock %}