{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Customer Preferences Table</h1>
    <div class="row mt-4">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Preference</th>
                        <th>Product Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for preference in preferences %}
                        <tr>
                            <td>{{ preference.preference_id }}</td>
                            <td>{{ preference.preference }}</td>
                            <td>{{ preference.product_id.name }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No preferences available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
